<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js"></script>
    <title>Products Page</title>
</head>
<body class="bg-gradient-to-b from-stone-200 to-slate-400 min-h-screen">
<nav class="bg-stone-200 shadow-xl sticky top-0 z-10">
    <ul class="flex gap-x-2 px-4 py-2 items-center justify-between">
        <div>
            <li class="text-3xl text-slate-700 font-bold mr-2">
                <a href="/">
                    PRODUCTS
                </a>
            </li>
        </div>
        <div class="flex gap-x-2 items-center">
            <li class="font-bold text-white bg-green-500 hover:bg-blue-800 rounded py-1 px-2">
                <a href="/add-product">
                    ADD
                </a>
            </li>
            <li class="font-bold text-white bg-red-500 hover:bg-blue-800 rounded py-1 px-2">
                <button class="delete-product-btn" type="submit" form="delete">
                    MASS DELETE
                </button>
            </li>
        </div>
    </ul>
</nav>
{% block content %} {% endblock %}

</body>
</html>